.Counter {
	background-color: #e3e3e3;
	height: 100vh;
	display: flex;
	flex-direction: row;
}

.form {
	width: 50%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	justify-content: center;
}

.formbox {
	width: 500px;
	height: 300px;
	background-color: #ffffff;
	box-shadow: 0px 3px 7px #6a7277;
	border-radius: 5px 5px 0px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.submitbutton {
	width: 500px;
	height: 40px;
	background-color: #f36768;

	text-align: center;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0px;
	margin-top: 50px;
}

.inputArea {
	width: 400px;
	height: 25px;
	background-color: #5b6170;
	margin-top: 1px;
	text-align: left;
	color: #ffffff;
	padding-left: 15px;
	font-size: small;
}

.information {
	background-color: #6a7277;
	width: 50%;
}
